@use "mixin" as *;

.p-subArea {
  display: flex;
  justify-content: space-between;
  text-align: center;

  @include mq(sp) {
    flex-direction: column;
  }

  .p-subArea__item {
    width: 32%;

    @include mq(sp) {
      margin-top: 30px;
      width: 100%;
    }

    .p-subArea__photo {
      width: 100%;
      height: auto;
    }
  }

  .p-subArea__title {
    margin: 10px 0px;
    font-size: 15.5px;
    font-weight: 500;
    text-align: left;

    @include mq(sp) {
      margin: 0px;
      font-size: 16px;
      padding: 10px 0px 20px 0px;
    }
  }

  .p-subArea__more__link {
    font-size: 14px;
    text-align: center;
    color: #333;
    position: relative;
    text-decoration: none;
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 0;
      background: #333;
      transition: all 200ms ease;
    }

    &:hover {
      visibility: hidden;
      opacity: 0;
      bottom: -3px;
    }

    @include mq(sp) {
      text-align: none;
    }
  }
}
