@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
}

.l-container {
  color: #333;
  display: grid;
  grid-template:
    "head head" 100px
    "sub sub" auto
    "main side" 1fr
    "foot foot" auto
    / auto 550px;
}

/* ヘッダー */
.l-header {
  grid-area: head;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: white;
}

.p-header__title {
  font-size: 26px;
  font-weight: 300;
  padding: 17px 170px;
}

.p-header__navi {
  display: flex;
  list-style: none;
  font-size: 13.5px;
  background-color: #333;
  padding: 10px 120px;
}

.p-header__navi__list {
  margin-left: 50px;
}

.p-header__navi__link {
  text-decoration: none;
  color: white;
}

/* サブコンテンツ */
.l-subArea {
  grid-area: sub;
  padding: 50px 170px 0px 170px;
}

.p-subArea {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.p-subArea__item {
  width: 32%;
}

.p-subArea__photo {
  width: 100%;
  height: auto;
}

.p-subArea__title {
  margin: 10px 0px;
  font-size: 15.5px;
  font-weight: 500;
  text-align: left;
}

.p-subArea__more__link {
  font-size: 14px;
  text-align: center;
  color: #333;
  position: relative;
  text-decoration: none;
}

.p-subArea__more__link::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #333;
  transition: all 200ms ease;
}

.p-subArea__more__link:hover::after {
  visibility: hidden;
  opacity: 0;
  bottom: -3px;
}

/* サイドバー */
.l-sideBar {
  grid-area: side;
  padding: 70px 170px 0px 50px;
}

.p-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-profile__icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.p-profile__name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}

.p-profile__text {
  font-size: 13.5px;
  text-align: left;
  margin-top: 30px;
}

.p-ranking {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.p-ranking__title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.p-ranking__photo {
  width: 100%;
  height: auto;
}

.p-ranking__text {
  font-size: 14px;
  padding: 5px 0px 20px 0px;
}

.p-archive {
  padding-top: 40px;
}

.p-archive__title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.p-archive__list {
  list-style: none;
  font-size: 14px;
  text-align: left;
  padding-top: 30px;
}

.p-archive__list__details {
  border-top: solid 1px #777;
  padding: 20px;
}

/* メインエリア */
.l-mainArea {
  grid-area: main;
  padding-left: 170px;
}

.p-main__title {
  padding-top: 70px;
}

.p-main__title__link {
  font-size: 24px;
  text-decoration: none;
  color: #333;
}

.p-main__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-main__date {
  padding-top: 20px;
  font-size: 14px;
}

.p-main__photo {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-top: 10px;
}

.p-main__text {
  text-align: left;
  padding: 10px 40px 30px 40px;
}

.p-main__more_btn {
  text-align: center;
  font-size: 14px;
}

.p-main__more__link {
  text-align: center;
  color: #333;
}

/* フッター */
.l-footer {
  grid-area: foot;
  background-color: #f7f7f7;
  margin-top: 70px;
}

.p-footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
}

/* フッター：about */
.p-footer__about {
  width: 30%;
}

.p-footer__about__text {
  font-size: 13.5px;
  padding-top: 30px;
}

.p-footer__about__list {
  display: flex;
  flex-direction: column;
  font-size: 13.5px;
  padding-top: 30px;
}

.p-footer__about__link {
  text-decoration: none;
  margin-top: 3px;
  color: #333;
}

/* フッター：menu */
.p-footer__menu {
  width: 30%;
}

.p-footer__menu__list {
  list-style: none;
  font-size: 14px;
  border-top: solid 1px #777;
  margin-top: 30px;
}

.p-footer__menu__list__details {
  padding: 15px;
  border-bottom: solid 1px #777;
}

.p-footer__menu__link {
  text-decoration: none;
  color: #333;
}

/* フッター：SNS */
.p-footer__twitter {
  width: 30%;
}

.p-footer__twitter__TimeLine {
  padding-top: 25px;
}

.p-copyWrite {
  text-align: center;
  font-size: 12px;
  padding-bottom: 10px;
}
